# Loan Default Prediction - Part 01 - Data Preprocessing

This is an exploratory project for me to apply what I have learned in the Data Science and Machine Learning courses that I took this year. The data is from a Kaggle competition [Loan Default Prediction](https://www.kaggle.com/c/loan-default-prediction). 

This is Part 01 of the project: Data Preprocessing.

## Data: A First Glance

The data has one __id__ column, 769 feature columns named __f1__ ... __f778__, and one target column __loss__ indicating the percentage of loan unpaid for. There are 105,471 rows. I am using the training data only because __loss__ is not included in the testing data provided on the Kaggle page. 

The contest organizer is cautious about data privacy and anonymity because the data was collected from real people. As a result, there is no description or explanation of what each feature column means. It's a double-edged sword -- I won't be able to take advantage of the nature of the data, but I also won't be liberally applying heuristics that I _think_ will be helpful but actually have limited use.

In [1]:
# Import libraries

import numpy as np
import pandas as pd

In [2]:
# Load the training data from the CSV file

file = 'train_v2.csv'
df_raw = pd.read_csv(file, na_values='NA')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (135,204,274,417) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Display basic information

df_raw.info()
print(df_raw.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105471 entries, 0 to 105470
Columns: 771 entries, id to loss
dtypes: float64(653), int64(99), object(19)
memory usage: 620.4+ MB
                   id             f1             f2             f3  \
count   105471.000000  105471.000000  105471.000000  105471.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean     52736.000000     134.603171       8.246883       0.499066
std      30446.999458      14.725467       1.691535       0.288752
min          1.000000     103.000000       1.000000       0.000006
25%      26368.500000     124.000000       8.000000       0.248950
50%      52736.000000     129.000000       9.000000       0.498267
75%      79103.500000     148.000000       9.000000       0.749494
max     105471.000000     176.000000      11.000000       0.999994

                   f4             f5             f6             f7  \
count   105471.000000  105471.000000  105471.000000  105289.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean      2678.488874       7.354533   47993.704317    2974.336018
std       1401.010943       5.151112   35677.136048    2546.551085
min       1100.000000       1.000000       0.000000       1.000000
25%       1500.000000       4.000000   11255.000000     629.000000
50%       2200.000000       4.000000   76530.000000    2292.000000
75%       3700.000000      10.000000   80135.000000    4679.000000
max       7900.000000      17.000000   88565.000000    9968.000000

                   f8             f9      ...                 f770  \
count   105370.000000  105471.000000      ...        105471.000000
unique            NaN            NaN      ...                  NaN
top               NaN            NaN      ...                  NaN
freq              NaN            NaN      ...                  NaN
mean      2436.363718     134.555225      ...            17.422543
std       2262.950221      13.824682      ...            18.548936
min          1.000000     106.820000      ...             2.000000
25%        746.000000     124.290000      ...             5.000000
50%       1786.000000     128.460000      ...            11.000000
75%       3411.000000     149.080000      ...            23.000000
max      11541.000000     172.950000      ...           168.000000

                 f771           f772           f773           f774  \
count   105471.000000  105471.000000  105471.000000  104407.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean         5.800976      -4.246788       3.273059       0.233852
std          6.508555       4.828265       3.766746       0.073578
min          0.000000     -43.160000       0.000000       0.000000
25%          1.480000      -5.700000       0.740000       0.198400
50%          3.570000      -2.600000       1.990000       0.251800
75%          7.700000      -1.010000       4.440000       0.283600
max         58.120000       0.000000      34.040000       0.473700

                 f775           f776           f777           f778  \
count   103946.000000  105471.000000  105471.000000  105471.000000
unique            NaN            NaN            NaN            NaN
top               NaN            NaN            NaN            NaN
freq              NaN            NaN            NaN            NaN
mean         0.014797       0.310246       0.322847     175.951589
std          1.039439       0.462597       0.467567     298.294043
min        -18.439600       0.000000       0.000000       2.000000
25%         -0.704275       0.000000       0.000000      19.000000
50%          0.375400       0.000000       0.000000      40.000000
75%          0.737100       1.000000       1.000000     104.000000
max         11.092000       1.000000       1.000000    1212.000000

                 loss
count   105471.000000
unique            NaN
top               NaN
freq              NaN
mean         0.799585
std          4.321120
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        100.000000

[11 rows x 771 columns]

When loading the CSV file, I got some warnings about some columns having mixed types. As they may be more tricky to process, I decide to drop them for now. After dropping them, the number of columns reduces from 771 to 751.

In [4]:
cols_to_drop = []

# Identifying non-numerical features    
for c in df_raw.columns:
    if (df_raw[c].dtypes == object):
        cols_to_drop.append(c)
            
print("Columns to drop: ", cols_to_drop)

df_raw = df_raw.drop(cols_to_drop, axis=1)
df_raw.info()

Columns to drop:  ['f137', 'f138', 'f206', 'f207', 'f276', 'f277', 'f338', 'f390', 'f391', 'f419', 'f420', 'f469', 'f472', 'f534', 'f537', 'f626', 'f627', 'f695', 'f698']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105471 entries, 0 to 105470
Columns: 752 entries, id to loss
dtypes: float64(653), int64(99)
memory usage: 605.1 MB

## Imputing Missing Data

Some columns contain missing values. I iterate over the columns to find which columns have missing values and how many entries they are missing.

In [5]:
# Look for columns with missing values

cols_with_missing_vals = dict()
for c in df_raw.columns:
    if df_raw[c].isnull().sum() > 0:
        cols_with_missing_vals[c] = df_raw[c].isnull().sum()

import pprint
pp = pprint.PrettyPrinter(indent=4)
print("Columns with missing values:")
pp.pprint(cols_with_missing_vals)

Columns with missing values:
{   'f100': 1704,
    'f101': 1704,
    'f102': 335,
    'f103': 335,
    'f104': 182,
    'f105': 182,
    'f106': 182,
    'f107': 182,
    'f108': 182,
    'f109': 182,
    'f110': 1491,
    'f111': 1491,
    'f112': 335,
    'f113': 335,
    'f114': 182,
    'f115': 182,
    'f116': 182,
    'f117': 182,
    'f118': 182,
    'f119': 182,
    'f120': 1121,
    'f121': 1121,
    'f122': 335,
    'f123': 335,
    'f124': 182,
    'f125': 182,
    'f126': 182,
    'f127': 182,
    'f128': 182,
    'f129': 182,
    'f130': 808,
    'f131': 808,
    'f132': 335,
    'f133': 335,
    'f134': 182,
    'f135': 182,
    'f136': 182,
    'f139': 182,
    'f14': 100,
    'f140': 682,
    'f141': 682,
    'f142': 2561,
    'f143': 2561,
    'f144': 1291,
    'f145': 1291,
    'f146': 1291,
    'f147': 1291,
    'f148': 1291,
    'f149': 2859,
    'f15': 48,
    'f150': 2859,
    'f151': 2561,
    'f152': 2561,
    'f153': 1291,
    'f154': 1291,
    'f155': 1291,
    'f156': 1291,
    'f157': 1291,
    'f158': 1291,
    'f159': 18736,
    'f160': 18736,
    'f161': 2561,
    'f162': 2561,
    'f163': 1291,
    'f164': 1291,
    'f165': 1291,
    'f166': 1291,
    'f167': 1291,
    'f168': 1291,
    'f169': 18417,
    'f17': 159,
    'f170': 18417,
    'f171': 2561,
    'f172': 2561,
    'f173': 1291,
    'f174': 1291,
    'f175': 1291,
    'f176': 1291,
    'f177': 1291,
    'f178': 1291,
    'f179': 17162,
    'f18': 23,
    'f180': 17162,
    'f181': 2561,
    'f182': 2561,
    'f183': 1291,
    'f184': 1291,
    'f185': 1291,
    'f186': 1291,
    'f187': 1291,
    'f188': 1291,
    'f189': 12234,
    'f19': 23,
    'f190': 12234,
    'f191': 2561,
    'f192': 2561,
    'f193': 1291,
    'f194': 1291,
    'f195': 1291,
    'f196': 1291,
    'f197': 1291,
    'f198': 1291,
    'f199': 9068,
    'f20': 460,
    'f200': 9068,
    'f201': 2561,
    'f202': 2561,
    'f203': 1291,
    'f204': 1291,
    'f205': 1291,
    'f208': 1291,
    'f209': 6861,
    'f21': 1840,
    'f210': 6861,
    'f211': 174,
    'f212': 174,
    'f213': 101,
    'f214': 101,
    'f215': 101,
    'f216': 101,
    'f217': 101,
    'f218': 101,
    'f219': 182,
    'f22': 1698,
    'f220': 182,
    'f221': 174,
    'f222': 174,
    'f223': 101,
    'f224': 101,
    'f225': 101,
    'f226': 101,
    'f227': 101,
    'f228': 101,
    'f229': 1104,
    'f23': 698,
    'f230': 1104,
    'f231': 174,
    'f232': 174,
    'f233': 101,
    'f234': 101,
    'f235': 101,
    'f236': 101,
    'f237': 101,
    'f238': 101,
    'f239': 992,
    'f240': 992,
    'f241': 174,
    'f242': 174,
    'f243': 101,
    'f244': 101,
    'f245': 101,
    'f246': 101,
    'f247': 101,
    'f248': 101,
    'f249': 790,
    'f250': 790,
    'f251': 174,
    'f252': 174,
    'f253': 101,
    'f254': 101,
    'f255': 101,
    'f256': 101,
    'f257': 101,
    'f258': 101,
    'f259': 682,
    'f26': 698,
    'f260': 682,
    'f261': 174,
    'f262': 174,
    'f263': 101,
    'f264': 101,
    'f265': 101,
    'f266': 101,
    'f267': 101,
    'f268': 101,
    'f269': 458,
    'f270': 458,
    'f271': 174,
    'f272': 174,
    'f273': 101,
    'f274': 101,
    'f275': 101,
    'f278': 101,
    'f279': 348,
    'f280': 348,
    'f289': 1072,
    'f31': 698,
    'f32': 2572,
    'f330': 18067,
    'f331': 18067,
    'f340': 11911,
    'f341': 11911,
    'f348': 5,
    'f349': 933,
    'f350': 933,
    'f356': 5,
    'f357': 933,
    'f358': 933,
    'f365': 10,
    'f366': 796,
    'f367': 796,
    'f373': 13,
    'f374': 801,
    'f375': 801,
    'f384': 726,
    'f385': 726,
    'f386': 1523,
    'f387': 1523,
    'f388': 698,
    'f389': 698,
    'f39': 54,
    'f392': 698,
    'f393': 2412,
    'f394': 2412,
    'f397': 9,
    'f398': 1650,
    'f399': 1631,
    'f40': 54,
    'f401': 698,
    'f402': 96,
    'f41': 2,
    'f412': 379,
    'f413': 379,
    'f42': 2,
    'f422': 14235,
    'f43': 234,
    'f432': 1072,
    'f433': 1072,
    'f434': 335,
    'f435': 335,
    'f436': 182,
    'f437': 182,
    'f438': 182,
    'f439': 182,
    'f44': 963,
    'f440': 182,
    'f441': 182,
    'f442': 201,
    'f443': 201,
    'f444': 104,
    'f448': 136,
    'f45': 2078,
    'f451': 136,
    'f452': 335,
    'f453': 335,
    'f454': 182,
    'f455': 182,
    'f456': 182,
    'f457': 182,
    'f458': 1757,
    'f459': 182,
    'f46': 2078,
    'f460': 182,
    'f461': 182,
    'f468': 721,
    'f47': 853,
    'f471': 721,
    'f476': 182,
    'f479': 772,
    'f48': 853,
    'f481': 182,
    'f482': 182,
    'f483': 335,
    'f484': 335,
    'f485': 182,
    'f486': 182,
    'f487': 182,
    'f488': 182,
    'f489': 1157,
    'f49': 98,
    'f490': 182,
    'f491': 182,
    'f492': 182,
    'f493': 335,
    'f494': 335,
    'f495': 182,
    'f496': 182,
    'f497': 182,
    'f498': 182,
    'f499': 1806,
    'f50': 98,
    'f500': 182,
    'f501': 182,
    'f502': 182,
    'f503': 335,
    'f504': 335,
    'f505': 182,
    'f506': 182,
    'f507': 182,
    'f508': 182,
    'f509': 1534,
    'f51': 2,
    'f510': 182,
    'f511': 182,
    'f512': 182,
    'f513': 23,
    'f514': 1523,
    'f516': 121,
    'f517': 121,
    'f518': 46,
    'f52': 2,
    'f522': 80,
    'f525': 80,
    'f527': 101,
    'f528': 101,
    'f53': 220,
    'f533': 378,
    'f536': 378,
    'f538': 174,
    'f539': 174,
    'f54': 950,
    'f540': 101,
    'f541': 101,
    'f542': 101,
    'f543': 101,
    'f544': 101,
    'f545': 101,
    'f546': 1160,
    'f547': 101,
    'f548': 174,
    'f549': 174,
    'f55': 54,
    'f550': 101,
    'f551': 101,
    'f552': 101,
    'f553': 101,
    'f554': 101,
    'f555': 101,
    'f556': 1108,
    'f557': 101,
    'f558': 174,
    'f559': 174,
    'f56': 54,
    'f560': 101,
    'f561': 101,
    'f562': 101,
    'f563': 101,
    'f564': 101,
    'f565': 101,
    'f566': 807,
    'f567': 101,
    'f568': 174,
    'f569': 174,
    'f57': 2,
    'f570': 101,
    'f571': 101,
    'f572': 101,
    'f573': 101,
    'f574': 101,
    'f575': 101,
    'f576': 101,
    'f577': 174,
    'f578': 174,
    'f579': 101,
    'f58': 2,
    'f580': 101,
    'f581': 101,
    'f582': 101,
    'f583': 101,
    'f584': 101,
    'f585': 101,
    'f586': 8965,
    'f587': 8965,
    'f588': 8432,
    'f59': 1879,
    'f60': 1879,
    'f600': 366,
    'f601': 366,
    'f604': 1580,
    'f606': 201,
    'f607': 201,
    'f608': 201,
    'f609': 370,
    'f61': 800,
    'f610': 201,
    'f611': 201,
    'f612': 370,
    'f613': 210,
    'f614': 210,
    'f615': 1149,
    'f616': 844,
    'f617': 1149,
    'f618': 18407,
    'f619': 18407,
    'f62': 800,
    'f620': 8180,
    'f621': 8180,
    'f622': 1523,
    'f623': 1523,
    'f624': 698,
    'f625': 698,
    'f628': 698,
    'f629': 323,
    'f63': 1154,
    'f630': 323,
    'f631': 96,
    'f632': 96,
    'f633': 96,
    'f634': 96,
    'f635': 96,
    'f636': 96,
    'f637': 562,
    'f638': 818,
    'f639': 818,
    'f64': 1154,
    'f640': 9700,
    'f641': 54,
    'f642': 54,
    'f643': 2,
    'f644': 2,
    'f645': 88,
    'f646': 830,
    'f647': 830,
    'f648': 8657,
    'f649': 8716,
    'f65': 158,
    'f650': 9003,
    'f651': 9003,
    'f652': 2,
    'f653': 13205,
    'f654': 4,
    'f655': 4,
    'f66': 649,
    'f660': 120,
    'f661': 120,
    'f662': 18833,
    'f663': 18833,
    'f664': 11282,
    'f665': 11282,
    'f666': 11282,
    'f667': 11282,
    'f668': 11282,
    'f669': 11282,
    'f671': 9,
    'f672': 7343,
    'f673': 7343,
    'f675': 1,
    'f676': 1,
    'f677': 1,
    'f678': 1,
    'f679': 6393,
    'f694': 698,
    'f696': 59,
    'f697': 698,
    'f7': 182,
    'f703': 2,
    'f704': 2,
    'f705': 2,
    'f706': 853,
    'f707': 2,
    'f708': 2,
    'f709': 2,
    'f710': 2,
    'f711': 800,
    'f712': 158,
    'f713': 158,
    'f714': 158,
    'f716': 304,
    'f717': 201,
    'f718': 2,
    'f719': 2,
    'f72': 9002,
    'f720': 2,
    'f721': 2,
    'f726': 11282,
    'f735': 182,
    'f746': 1432,
    'f747': 2,
    'f748': 853,
    'f749': 853,
    'f75': 335,
    'f750': 853,
    'f751': 1458,
    'f752': 2,
    'f753': 2,
    'f754': 2,
    'f755': 2,
    'f756': 233,
    'f757': 800,
    'f758': 800,
    'f759': 800,
    'f76': 335,
    'f760': 1334,
    'f761': 158,
    'f762': 158,
    'f763': 1840,
    'f765': 1,
    'f77': 182,
    'f774': 1064,
    'f775': 1525,
    'f78': 182,
    'f79': 182,
    'f8': 101,
    'f80': 346,
    'f81': 346,
    'f82': 335,
    'f83': 335,
    'f84': 182,
    'f85': 182,
    'f86': 182,
    'f87': 182,
    'f88': 182,
    'f89': 182,
    'f90': 1719,
    'f91': 1719,
    'f92': 335,
    'f93': 335,
    'f94': 182,
    'f95': 182,
    'f96': 182,
    'f97': 182,
    'f98': 182,
    'f99': 182}

It turns out there are many columns with missing values. I use [sklearn.preprocessing.Imputer](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.Imputer.html) to fill the missing values. I choose the _most frequent_ imputation stratety because I believe some of the columns may be categorical features, and _mean_ or _median_ wouldn't make much sense.

I apply the Imputer using the [sklearn-pandas](https://github.com/scikit-learn-contrib/sklearn-pandas) DataFrameMapper framework so that the transformed data stays as a DataFrame. After imputing the data, there are no more missing values.

In [6]:
from sklearn.preprocessing import Imputer
from sklearn_pandas import gen_features
from sklearn_pandas import DataFrameMapper

cols_to_impute = []
for key, value in cols_with_missing_vals.items():
    cols_to_impute.append([key])

feature_def = gen_features(
    columns=cols_to_impute,
    classes=[{'class': Imputer, 'strategy': 'most_frequent'}]
)

mapper = DataFrameMapper(feature_def, default=None, input_df=True, df_out=True)
df_imputed = mapper.fit_transform(df_raw)
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105471 entries, 0 to 105470
Columns: 752 entries, f7 to loss
dtypes: float64(752)
memory usage: 605.1 MB

In [7]:
cols_with_missing_vals = dict()
for c in df_imputed.columns:
    if df_imputed[c].isnull().sum() > 0:
        cols_with_missing_vals[c] = df_imputed[c].isnull().sum()
        
pp = pprint.PrettyPrinter(indent=4)
print("Columns with missing values:")
pp.pprint(cols_with_missing_vals)

Columns with missing values:
{}

## One-Hot Encoding for Categorical Features

As the values of categorical features have no physical meaning, they are usually transformed into one-hot encoding before being used to train any models. For this particular dataset, a tricky part is that we don't know which features are categorical. I can only assume that a column is likely to be categorical if (1) it is entirely composed of integer values and (2) the number of unique values is small (i.e. under a certain threshold value). I apply this rule to the columns to determine which columns are categorical, and then I use [sklearn.preprocessing.OneHotEncoder](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) to transform these columns to one-hot encoding. 

Using the DataFrameMapper framework, the new one-hot-encoded columns are systematically named. For example, column __f1__ has 74 unique values. After the tranformation, __f1__ is removed, and 74 new columns __f1_0__ ... __f1_73__ are added.

In addition, if any column contains only one value, it has no information, and we can safely drop it.

In [8]:
# Identify categorical features and single-valued features

# Define categorical_threshold
# If a column's number of unique values is less than this value, consider it categorical
categorical_threshold = 100

# Identifying categorical features
# Using df_raw because df_imputed is all float
cols_single_val = []
cols_categorical = []
cols_continuous = [] # non-categorical
for c in df_raw.columns:
    if (c == 'id' or c == 'loss'):
        continue
    if (df_raw[c].dtypes == 'int64' and len(df_raw.loc[:,c].unique()) <= categorical_threshold):
        print("Column \"" + c + "\" has unique values: ")
        print(df_raw.loc[:,c].unique())
        if (len(df_raw.loc[:,c].unique()) == 1):
            cols_single_val.append(c)
        else:
            cols_categorical.append([c])
    else:
        cols_continuous.append([c])

# After this check, we no longer need df_raw
del df_raw
            
print("Categorical columns: ", cols_categorical)
print("Single-valued columns: ", cols_single_val)

Column "f1" has unique values:
[126 121 134 109 128 127 115 120 130 119 116 123 125 114 129 117 124 122
 139 144 142 137 154 150 147 156 157 146 153 135 138 118 113 133 110 111
 136 132 108 106 152 145 149 155 163 166 165 160 148 159 151 162 158 131
 143 161 164 140 141 173 167 112 168 107 170 105 171 103 104 169 174 176
 172 175]
Column "f2" has unique values:
[10  9  8  6  7  4  2  3  1 11]
Column "f4" has unique values:
[1100 2900 1300 1800 2200 3800 2600 1600 3500 1900 2700 4800 4200 3600
 3700 1500 2400 4300 5400 2000 3100 5500 5000 4400 4700 2300 5100 5300
 1200 3900 6200 5900 5700 4100 4000 4500 1700 2500 6600 3300 2100 3000
 5800 3200 2800 4600 5600 7200 3400 1400 5200 6100 6800 7000 6500 6300
 6400 7300 6700 7400 7900]
Column "f5" has unique values:
[ 3  4 16 10  2  7 15  1 17 13]
Column "f13" has unique values:
[ 7  6 14 13 15  8 10 11  4 16 12  5  9  3 17 18 20 19 25 29 28 27 23 26
 21 24 22 32  2 40 30]
Column "f33" has unique values:
[0]
Column "f34" has unique values:
[0]
Column "f35" has unique values:
[0]
Column "f37" has unique values:
[0]
Column "f38" has unique values:
[0]
Column "f68" has unique values:
[ 6 14 13 15  7 10  8 11  3  2 16 12  5  9  4 17  1 18 20 19 24 29 26 28
 23 25 27 21 22 30  0]
Column "f73" has unique values:
[ 9  8  6 10  7  4  3  1 11  2]
Column "f293" has unique values:
[ 0  4  3  1 13  8 10  9  5  2  7 12  6 11 15 14 20 17 23 16 19 18]
Column "f294" has unique values:
[ 0  4  3  1 13  8 10  9  5  2  7 12  6 11 15 14 20 17 23 16 19 18]
Column "f295" has unique values:
[ 0  4  3  1 13  8 10  9  5  2  7 12  6 11 15 14 20 17 23 16 19 18]
Column "f296" has unique values:
[ 0  4  3  1 13  8 10  9  5  2  7 12  6 11 15 14 20 17 23 16 19 18]
Column "f301" has unique values:
[ 2  0  1  4 11  7  5  9  6  8  3 12 18 14 10 13 17 15 16 19 23 24 20 25
 21]
Column "f302" has unique values:
[ 2  0  1  4 11  7  5  9  6  8  3 12 18 14 10 13 17 15 16 19 23 24 20 25
 21]
Column "f303" has unique values:
[ 2  0  1  4 11  7  5  9  6  8  3 12 18 14 10 13 17 15 16 19 23 24 20 25
 21]
Column "f304" has unique values:
[ 2  0  1  4 11  7  5  9  6  8  3 12 18 14 10 13 17 15 16 19 23 24 20 25
 21]
Column "f309" has unique values:
[ 3  0  1  2  7 11 12  8  4 10  9  6 13  5 14 15 17 18 24 19 16 25 26 20]
Column "f310" has unique values:
[ 3  0  1  2  7 11 12  8  4 10  9  6 13  5 14 15 17 18 24 19 16 25 26 20]
Column "f311" has unique values:
[ 3  0  1  2  7 11 12  8  4 10  9  6 13  5 14 15 17 18 24 19 16 25 26 20]
Column "f312" has unique values:
[ 3  0  1  2  7 11 12  8  4 10  9  6 13  5 14 15 17 18 24 19 16 25 26 20]
Column "f317" has unique values:
[ 2  0  1  8  4 24 15 21  9 18 14 17  6  3 12  7 19 10 30 16 11  5 25 13
 20 37 23 28 22 27 26 39 34 31 29 32 35 33 36 38 40]
Column "f318" has unique values:
[ 2  0  1  8  4 24 15 21  9 18 14 17  6  3 12  7 19 10 30 16 11  5 25 13
 20 37 23 28 22 27 26 39 34 31 29 32 35 33 36 38 40]
Column "f319" has unique values:
[ 2  0  1  8  4 24 15 21  9 18 14 17  6  3 12  7 19 10 30 16 11  5 25 13
 20 37 23 28 22 27 26 39 34 31 29 32 35 33 36 38 40]
Column "f320" has unique values:
[ 2  0  1  8  4 24 15 21  9 18 14 17  6  3 12  7 19 10 30 16 11  5 25 13
 20 37 23 28 22 27 26 39 34 31 29 32 35 33 36 38 40]
Column "f325" has unique values:
[ 5  0  3  2  8  6  4 31 26 23 21 18 25 16  9  7  1 15 19 40 17 13 12 11
 14 38 33 32 37 20 10 35 22 24 48 28 27 34 29 41 30 44 36 50 39 42 49 45
 51 46 47 43 52 53]
Column "f326" has unique values:
[ 5  0  3  2  8  6  4 31 26 23 21 18 25 16  9  7  1 15 19 40 17 13 12 11
 14 38 33 32 37 20 10 35 22 24 48 28 27 34 29 41 30 44 36 50 39 42 49 45
 51 46 47 43 52 53]
Column "f327" has unique values:
[ 5  0  3  2  8  6  4 31 26 23 21 18 25 16  9  7  1 15 19 40 17 13 12 11
 14 38 33 32 37 20 10 35 22 24 48 28 27 34 29 41 30 44 36 50 39 42 49 45
 51 46 47 43 52 53]
Column "f328" has unique values:
[ 5  0  3  2  8  6  4 31 26 23 21 18 25 16  9  7  1 15 19 40 17 13 12 11
 14 38 33 32 37 20 10 35 22 24 48 28 27 34 29 41 30 44 36 50 39 42 49 45
 51 46 47 43 52 53]
Column "f400" has unique values:
[ 3 10  5  2  9  4  1 11 12  6  8 13  7 15 14 16 25 20 17 18 19 29 26 21
 27 24 23 22 28 99 40 30 32 31 33]
Column "f403" has unique values:
[ 3 16  4 17 10  7 15 13  1  2  5 12  6 11 20  9 14 19]
Column "f597" has unique values:
[ 5  6 14 13 15 10  7  8 11  1  2 12 16  4  9  3 17 18 20 19 29 28 27 23
 25 26 21 22 32 24 40 30]
Column "f599" has unique values:
[ 5  6 14 13 15 10  7  8 11  1  2 12 16  4  9  3 17 18 20 19 29 28 27 23
 25 26 21 22 32 24 40 30]
Column "f700" has unique values:
[0]
Column "f701" has unique values:
[0]
Column "f702" has unique values:
[0]
Column "f725" has unique values:
[0 1 2 3 4 5 6]
Column "f736" has unique values:
[1]
Column "f764" has unique values:
[1]
Column "f776" has unique values:
[1 0]
Column "f777" has unique values:
[0 1]
Column "f778" has unique values:
[   5   16   93  513   39    6   30  394   83   21   54   27   57   23
   52   87  101    7   37   38   46   67   10    9   20   84    8   12
   47   25   26  104 1083   61    3  107   15  393   31   36   41   80
   19   49 1079   22   17   13   40   32   35   85    2   24    4   44
   14   90   34   11   28   18   73 1212]
Categorical columns:  [['f1'], ['f2'], ['f4'], ['f5'], ['f13'], ['f68'], ['f73'], ['f293'], ['f294'], ['f295'], ['f296'], ['f301'], ['f302'], ['f303'], ['f304'], ['f309'], ['f310'], ['f311'], ['f312'], ['f317'], ['f318'], ['f319'], ['f320'], ['f325'], ['f326'], ['f327'], ['f328'], ['f400'], ['f403'], ['f597'], ['f599'], ['f725'], ['f776'], ['f777'], ['f778']]
Single-valued columns:  ['f33', 'f34', 'f35', 'f37', 'f38', 'f700', 'f701', 'f702', 'f736', 'f764']

In [9]:
# Drop one-value columns

df_imputed = df_imputed.drop(cols_single_val, axis=1)
df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105471 entries, 0 to 105470
Columns: 742 entries, f7 to loss
dtypes: float64(742)
memory usage: 597.1 MB

In [10]:
# Replace categorical features with one-hot encoding

from sklearn.preprocessing import OneHotEncoder

feature_def = gen_features(
    columns=cols_categorical,
    classes=[OneHotEncoder] 
)

mapper = DataFrameMapper(feature_def, default=None, input_df=True, df_out=True)
df_imputed = mapper.fit_transform(df_imputed)
df_imputed.info()
print(df_imputed.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105471 entries, 0 to 105470
Columns: 1790 entries, f1_0 to loss
dtypes: float64(1790)
memory usage: 1.4 GB
                f1_0           f1_1           f1_2           f1_3  \
count  105471.000000  105471.000000  105471.000000  105471.000000
mean        0.000284       0.000076       0.000294       0.000218
std         0.016863       0.008709       0.017142       0.014766
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

                f1_4           f1_5           f1_6           f1_7  \
count  105471.000000  105471.000000  105471.000000  105471.000000
mean        0.001185       0.000578       0.002266       0.002579
std         0.034406       0.024042       0.047549       0.050718
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

                f1_8           f1_9      ...                 f745  \
count  105471.000000  105471.000000      ...        105471.000000
mean        0.004124       0.004712      ...             4.192035
std         0.064089       0.068484      ...             2.086577
min         0.000000       0.000000      ...             0.000000
25%         0.000000       0.000000      ...             2.658650
50%         0.000000       0.000000      ...             4.172800
75%         0.000000       0.000000      ...             5.586950
max         1.000000       1.000000      ...            14.909900

                f766           f767           f768           f769  \
count  105471.000000  105471.000000  105471.000000  105471.000000
mean       -0.476605      -0.471572      -0.491973      -8.786110
std         0.194983       0.263993       0.141869       9.684043
min        -0.950000      -0.963000      -0.945000     -85.450000
25%        -0.630000      -0.699000      -0.575900     -11.530000
50%        -0.480000      -0.480000      -0.503100      -5.440000
75%        -0.330000      -0.248000      -0.420000      -2.390000
max         0.000000       0.000000       0.000000       0.000000

                f770           f771           f772           f773  \
count  105471.000000  105471.000000  105471.000000  105471.000000
mean       17.422543       5.800976      -4.246788       3.273059
std        18.548936       6.508555       4.828265       3.766746
min         2.000000       0.000000     -43.160000       0.000000
25%         5.000000       1.480000      -5.700000       0.740000
50%        11.000000       3.570000      -2.600000       1.990000
75%        23.000000       7.700000      -1.010000       4.440000
max       168.000000      58.120000       0.000000      34.040000

                loss
count  105471.000000
mean        0.799585
std         4.321120
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       100.000000

[8 rows x 1790 columns]

In [11]:
# Store the preprocessded DataFrame into a new CSV

df_imputed.to_csv('train_v2_preprocessed.csv')

## Normalizing Continuous Features

Now that I've preprocessed categorical features, it's time to look at the continuous features (non-categorical). From the printed column information, we can see that the values in these columns are distributed differently. For example, column __f7__ has a range of [1, 9968], while column __f766__ has a range of (-0.5, 0]. The value range can greatly impact the performance of some machine learning models, so I will prepare a normalized version of the DataFrame. I use [sklearn.preprocessing.StandardScaler](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html) to scale these features to have mean 0 and standard deviation 1.

In [12]:
from sklearn.preprocessing import StandardScaler

feature_def = gen_features(
    columns=cols_continuous,
    classes=[StandardScaler]
)

mapper = DataFrameMapper(feature_def, default=None, input_df=True, df_out=True)
df_imputed_normalized = mapper.fit_transform(df_imputed)
df_imputed_normalized.info()
print(df_imputed_normalized.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105471 entries, 0 to 105470
Columns: 1790 entries, f3 to loss
dtypes: float64(1790)
memory usage: 1.4 GB
                 f3            f6            f7            f8            f9  \
count  1.054710e+05  1.054710e+05  1.054710e+05  1.054710e+05  1.054710e+05
mean   5.622168e-17 -2.554207e-15  5.490115e-17  7.954330e-17  1.151258e-15
std    1.000005e+00  1.000005e+00  1.000005e+00  1.000005e+00  1.000005e+00
min   -1.728340e+00 -1.345229e+00 -1.165221e+00 -1.075084e+00 -2.006220e+00
25%   -8.662007e-01 -1.029760e+00 -9.206516e-01 -7.467748e-01 -7.425324e-01
50%   -2.767762e-03  7.998521e-01 -2.685968e-01 -2.872299e-01 -4.408965e-01
75%    8.672785e-01  9.008977e-01  6.692472e-01  4.305880e-01  1.050646e+00
max    1.734808e+00  1.137185e+00  2.747500e+00  4.024096e+00  2.777276e+00

                f10           f14           f15           f16           f17  \
count  1.054710e+05  1.054710e+05  1.054710e+05  1.054710e+05  1.054710e+05
mean  -2.342023e-15 -2.734250e-15 -3.710438e-15  8.285541e-17  3.960024e-15
std    1.000005e+00  1.000005e+00  1.000005e+00  1.000005e+00  1.000005e+00
min   -2.168844e+00 -2.854264e+00 -2.796976e+00 -6.055054e-01 -2.873932e+00
25%   -7.395809e-01 -6.981179e-02 -6.821592e-02 -5.433311e-01 -7.288687e-02
50%   -3.803690e-01  3.079740e-01  3.151226e-01 -3.529443e-01  3.129780e-01
75%    9.454745e-01  5.599680e-01  5.664177e-01  1.088349e-01  5.655207e-01
max    2.804275e+00  1.249873e+00  1.329381e+00  1.002058e+01  1.399211e+00

           ...             f778_56        f778_57        f778_58  \
count      ...        105471.00000  105471.000000  105471.000000
mean       ...             0.01955       0.013900       0.048724
std        ...             0.13845       0.117075       0.215292
min        ...             0.00000       0.000000       0.000000
25%        ...             0.00000       0.000000       0.000000
50%        ...             0.00000       0.000000       0.000000
75%        ...             0.00000       0.000000       0.000000
max        ...             1.00000       1.000000       1.000000

             f778_59        f778_60        f778_61        f778_62  \
count  105471.000000  105471.000000  105471.000000  105471.000000
mean        0.040172       0.054517       0.053266       0.022357
std         0.196364       0.227037       0.224564       0.147842
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

             f778_63             id           loss
count  105471.000000  105471.000000  105471.000000
mean        0.001195   52736.000000       0.799585
std         0.034543   30446.999458       4.321120
min         0.000000       1.000000       0.000000
25%         0.000000   26368.500000       0.000000
50%         0.000000   52736.000000       0.000000
75%         0.000000   79103.500000       0.000000
max         1.000000  105471.000000     100.000000

[8 rows x 1790 columns]

In [13]:
# Store the normalized DataFrame into a new CSV

df_imputed_normalized.to_csv('train_v2_preprocessed_normalized.csv')

## Feature Expansion

The continuous features can also be expanded polynomially, for example, adding x^2 or x^3 terms, to account for some of the nonlinear dependency. I use [sklearn.preprocessing.PolynomialFeatures](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html) to achieve this.

In [14]:
# Expand continuous features to be polynomial (degree 2)

from sklearn.preprocessing import PolynomialFeatures

feature_def = gen_features(
    columns=cols_continuous,
    classes=[{'class': PolynomialFeatures, 'degree': 2}]
)

mapper = DataFrameMapper(feature_def, default=None, input_df=True, df_out=True)
df_poly2 = mapper.fit_transform(df_imputed_normalized)
df_poly2.info()
print(df_poly2.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105471 entries, 0 to 105470
Columns: 3200 entries, f3_1 to loss
dtypes: float64(3200)
memory usage: 2.5 GB
           f3_1         f3_x0       f3_x0^2      f6_1         f6_x0  \
count  105471.0  1.054710e+05  1.054710e+05  105471.0  1.054710e+05
mean        1.0  5.622168e-17  1.000000e+00       1.0 -2.554207e-15
std         0.0  1.000005e+00  8.938727e-01       0.0  1.000005e+00
min         1.0 -1.728340e+00  1.335714e-09       1.0 -1.345229e+00
25%         1.0 -8.662007e-01  1.872665e-01       1.0 -1.029760e+00
50%         1.0 -2.767762e-03  7.511669e-01       1.0  7.998521e-01
75%         1.0  8.672785e-01  1.689483e+00       1.0  9.008977e-01
max         1.0  1.734808e+00  3.009558e+00       1.0  1.137185e+00

             f6_x0^2      f7_1         f7_x0       f7_x0^2      f8_1  \
count  105471.000000  105471.0  1.054710e+05  1.054710e+05  105471.0
mean        1.000000       1.0  5.490115e-17  1.000000e+00       1.0
std         0.311009       0.0  1.000005e+00  1.152921e+00       0.0
min         0.573084       1.0 -1.165221e+00  6.492297e-09       1.0
25%         0.773491       1.0 -9.206516e-01  1.882413e-01       1.0
50%         0.927141       1.0 -2.685968e-01  6.924949e-01       1.0
75%         1.122513       1.0  6.692472e-01  1.250177e+00       1.0
max         1.809642       1.0  2.747500e+00  7.548757e+00       1.0

           ...             f778_56        f778_57        f778_58  \
count      ...        105471.00000  105471.000000  105471.000000
mean       ...             0.01955       0.013900       0.048724
std        ...             0.13845       0.117075       0.215292
min        ...             0.00000       0.000000       0.000000
25%        ...             0.00000       0.000000       0.000000
50%        ...             0.00000       0.000000       0.000000
75%        ...             0.00000       0.000000       0.000000
max        ...             1.00000       1.000000       1.000000

             f778_59        f778_60        f778_61        f778_62  \
count  105471.000000  105471.000000  105471.000000  105471.000000
mean        0.040172       0.054517       0.053266       0.022357
std         0.196364       0.227037       0.224564       0.147842
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

             f778_63             id           loss
count  105471.000000  105471.000000  105471.000000
mean        0.001195   52736.000000       0.799585
std         0.034543   30446.999458       4.321120
min         0.000000       1.000000       0.000000
25%         0.000000   26368.500000       0.000000
50%         0.000000   52736.000000       0.000000
75%         0.000000   79103.500000       0.000000
max         1.000000  105471.000000     100.000000

[8 rows x 3200 columns]

In [15]:
# Store the expanded DataFrame into a new CSV

df_poly2.to_csv('train_v2_preprocessed_normalized_poly2.csv')

In [16]:
# Expand continuous features to be polynomial (degree 3)

feature_def = gen_features(
    columns=cols_continuous,
    classes=[{'class': PolynomialFeatures, 'degree': 3}]
)

mapper = DataFrameMapper(feature_def, default=None, input_df=True, df_out=True)
df_poly3 = mapper.fit_transform(df_imputed_normalized)
df_poly3.info()
print(df_poly3.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105471 entries, 0 to 105470
Columns: 3905 entries, f3_1 to loss
dtypes: float64(3905)
memory usage: 3.1 GB
           f3_1         f3_x0       f3_x0^2       f3_x0^3      f6_1  \
count  105471.0  1.054710e+05  1.054710e+05  1.054710e+05  105471.0
mean        1.0  5.622168e-17  1.000000e+00  3.568024e-03       1.0
std         0.0  1.000005e+00  8.938727e-01  1.962592e+00       0.0
min         1.0 -1.728340e+00  1.335714e-09 -5.162823e+00       1.0
25%         1.0 -8.662007e-01  1.872665e-01 -6.499135e-01       1.0
50%         1.0 -2.767762e-03  7.511669e-01 -2.120246e-08       1.0
75%         1.0  8.672785e-01  1.689483e+00  6.523427e-01       1.0
max         1.0  1.734808e+00  3.009558e+00  5.221005e+00       1.0

              f6_x0        f6_x0^2        f6_x0^3      f7_1         f7_x0  \
count  1.054710e+05  105471.000000  105471.000000  105471.0  1.054710e+05
mean  -2.554207e-15       1.000000      -0.211704       1.0  5.490115e-17
std    1.000005e+00       0.311009       1.130734       0.0  1.000005e+00
min   -1.345229e+00       0.573084      -2.434384       1.0 -1.165221e+00
25%   -1.029760e+00       0.773491      -1.091963       1.0 -9.206516e-01
50%    7.998521e-01       0.927141       0.511716       1.0 -2.685968e-01
75%    9.008977e-01       1.122513       0.731183       1.0  6.692472e-01
max    1.137185e+00       1.809642       1.470594       1.0  2.747500e+00

           ...             f778_56        f778_57        f778_58  \
count      ...        105471.00000  105471.000000  105471.000000
mean       ...             0.01955       0.013900       0.048724
std        ...             0.13845       0.117075       0.215292
min        ...             0.00000       0.000000       0.000000
25%        ...             0.00000       0.000000       0.000000
50%        ...             0.00000       0.000000       0.000000
75%        ...             0.00000       0.000000       0.000000
max        ...             1.00000       1.000000       1.000000

             f778_59        f778_60        f778_61        f778_62  \
count  105471.000000  105471.000000  105471.000000  105471.000000
mean        0.040172       0.054517       0.053266       0.022357
std         0.196364       0.227037       0.224564       0.147842
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         0.000000       0.000000       0.000000       0.000000
75%         0.000000       0.000000       0.000000       0.000000
max         1.000000       1.000000       1.000000       1.000000

             f778_63             id           loss
count  105471.000000  105471.000000  105471.000000
mean        0.001195   52736.000000       0.799585
std         0.034543   30446.999458       4.321120
min         0.000000       1.000000       0.000000
25%         0.000000   26368.500000       0.000000
50%         0.000000   52736.000000       0.000000
75%         0.000000   79103.500000       0.000000
max         1.000000  105471.000000     100.000000

[8 rows x 3905 columns]

In [17]:
# Store the expanded DataFrame into a new CSV

df_poly3.to_csv('train_v2_preprocessed_normalized_poly3.csv')